div.DTE_Form_Info {
    text-align: left;
}

.url {
    text-decoration-line: underline;
}

#p2 {
    margin: 0;
    padding: 0;
    font-style: italic;
    font-size: 80%;
    color: blue;
}

#p1 {
    margin: 0;
    padding: 0;
}

@media print {
    .example-screen {
        display: none;
     }
 }

  .loading {
    position: fixed;
    z-index: 999;
    height: 10em;
    width: 10em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }