<h1 class="header">Reset Firebase Password</h1>
<div class="container">
  <div class="row">
    <div class="mx-auto">
      <div class="card" style="width: 40rem;">
        <div class="row mt-3">
          <div class="col-md-6 offset-md-3">
            <form [formGroup]="resetForm">
              <div class= "border border-info p-2">
                <div class="form-group">
                  <label>Email address</label>
                  <input type="email" formControlName="email" class="form-control">
                  <label class="error">{{errorMessage}}</label>
                </div>
                <button (click)="resetPassword(resetForm.controls['email'].value)" [disabled]="show" >{{ buttonName }}</button>
                <div *ngIf="show">
                  <p>An email has been sent with a link to reset your password.</p>
                </div>
                <div class="row mt-5">
                    <div class="mx-auto">
                      <p>Done? <a href="/login">Return to login</a></p>
                    </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>                    
    </div>
  </div>
</div>
